<!DOCTYPE html>
<html>
    <head>
        <title>디스코드 봇 마켓</title>

        <meta charset="UTF-8">
        <meta name="description" content="Clean and responsive administration panel">
        <meta name="keywords" content="Admin,Panel,HTML,CSS,XML,JavaScript">
        <meta name="author" content="Erik Campobadal">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/uikit.min.css" />
		<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/notyf.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="/js/uikit.min.js" ></script>
		<script src="/js/uikit-icons.min.js" ></script>
    </head>
    <body>
      <input type="text" id="token_type" value="<%= token_type %>" hidden>
      <input type="text" id="access_token" value="<%= access_token %>" hidden>
      <input type="text" id="auth_uri" value="<%= auth_uri %>" hidden>
        <div uk-sticky class="uk-navbar-container tm-navbar-container uk-active">
            <div class="uk-container uk-container-expand">
                <nav uk-navbar>
                    <div class="uk-navbar-left">
                        <a href="/main" class="uk-navbar-item uk-logo">
                            Bot Market
                        </a>
                    </div>
                    <div class="uk-navbar-right uk-light">
                        <a id="auth" class="uk-link-heading"></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="content-background">
            <div class="uk-section-small">
                <div class="uk-container uk-container-large">
                  <div class="uk-child-width-1-5@m uk-grid-small uk-grid-match click-cursor" uk-grid>
                    <div name="card">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3 class="uk-card-title">마법의 소라고동 봇</h3>
                            <img id="avatar" width="200" class="uk-border-circle" src="images/bot/0.jpg" />
                            <p>마법의 소라고동님은 모든 걸 알고 계신다!!</p>
                        </div>
                    </div>
                    <div name="card">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3 class="uk-card-title">격려 봇</h3>
                            <img id="avatar" width="200" class="uk-border-circle" src="images/bot/1.jpg" />
                            <p>그럴 수 있지...</p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
		<!-- Load More Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js" integrity="sha256-UGwvyUFH6Qqn0PSyQVw4q3vIX0wV1miKTracNJzAWPc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js" integrity="sha256-rqEXy4JTnKZom8mLVQpvni3QHbynfjPmPxQVsPZgmJY=" crossorigin="anonymous"></script>
		<script src="/js/notyf.min.js"></script>
		<!-- Required Overall Script -->
        <script src="/js/script.js"></script>
		<!-- Status Updater -->
		<script src="/js/status.js"></script>
		<!-- Sample Charts -->
		<script src="/js/charts.js"></script>
		<!-- Sample Notifications -->
        <script src="/js/notification.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>

